/* CSS */
@font-face {
	font-family: 'Nunito';
	src: url("./Nunito/Nunito-SemiBoldItalic.ttf");
}

body {
	width: 100%;
	min-width: 900px;
    height: 100%;
    background: #595959;
    margin:0;
    padding:0;
}

div#box {
	position: relative;
	width: 50%;
	/*border: 2px solid black;*/
	border-radius: 10%;
	margin: 1em auto;
	padding: 3em;
	background: #cccccc;

}

section#quoteContent {
	width: 90%;
	margin: auto;
	/*border: 2px solid black;*/
	/*border-radius: 1em;*/
	padding: 1em;
	text-align: center;
	position: relative;
}

.text {
	/*border: 2px solid red;*/
	/*border-radius: 1em;*/
	display: block;
	font-family: 'Nunito', sans-serif;
	font-size: 200%;
	text-align: left;
}

p#qAuthor {
	width: 40%;
	margin-left: 60%;
	text-align: right;
}

section#buttons {
	width: 90%;
	height: 5em;
	/*border: 2px solid black;*/
	/*border-radius: 1em;*/
	position: relative;
	margin: auto;
	padding: 1em;
}

button#next {
	position: absolute;
	right: 1em;
}

button.btn {
	border-radius: 25%;
	width: 16%;
}




