/* CSS */
body {
	width: 100%;
	min-width: 600px;
    height: 100%;
    background: #595959;
    margin:0;
    padding:0;
}

div#box {
	position: relative;
	width: 50%;
	border: 2px solid black;
	border-radius: 1em;
	margin: 20% auto;
	padding: 3em;
	background: #cccccc;

}

section#quoteContent {
	width: 90%;
	margin: auto auto 3em auto;
	border: 2px solid black;
	border-radius: 1em;
	padding: 1em;
	text-align: center;
	position: relative;
}

.text {
	border: 2px solid red;
	border-radius: 1em;
	display: block;
	margin-bottom: 2em;
}

p#qAuthor {
	width: 40%;
	margin-left: 60%;
}


/*section#quoteAuthor {
	width: 35%;
	height: 3em;
	border: 2px solid black;
	border-radius: 1em;
	position: absolute;
	bottom: 9em;
	right: 2em;
	text-align: center;
}*/

section#buttons {
	width: 80%;
	height: 5em;
	border: 2px solid black;
	border-radius: 1em;
	position: relative;
	margin: auto;
	
}

section#next {
	width: 35%;
	height: 5em;
	border: 2px solid black;
	border-radius: 1em;
	position: relative;
}



